<div class="question">
  <div class="stetament">
    <h4 class="heading-6">
      <%= question.content %>
    </h2>
  </div>
  <div class="question-choices">
    <h4 class="heading-5">Concordo</h4>
    <%= link_to "", answer_path(answer, answer: { user_answer: 5 }), method: :patch, class: "button big w-button option", :"data-color" =>"background-green" %>
    <%= link_to "", answer_path(answer, answer: { user_answer: 4 }), method: :patch, class:"button medium w-button option", :"data-color" =>"background-green" %>
    <%= link_to "", answer_path(answer, answer: { user_answer: 3 }), method: :patch, class:"button small w-button option", :"data-color" =>"background-gray"  %>
    <%= link_to "", answer_path(answer, answer: { user_answer: 2 }), method: :patch, class: "button medium desagree w-button option", :"data-color" =>"background-brown" %>
    <%= link_to "", answer_path(answer, answer: { user_answer: 1 }), method: :patch, class: "button big desagree w-button option", :"data-color" =>"background-brown" %>
    <h4 class="heading-7">Discordo</h4>
  </div>
</div>
