<div class="container">
  <h2>Editar suas informações</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :name, label: 'Nome' %>
      <%= f.input :password,
                  hint: "deixe em branco se não quiser alterar",
                  label: 'Nova senha',
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: 'Confirme a senha',
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "precisamos da senha atual para confirmar as alterações",
                  label: 'Senha atual',
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Atualizar", class:'btn btn-primary' %>
    </div>
  <% end %>

  <p>Não tá curtindo? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class:'text text-danger' %></p>

  <%= link_to "Voltar", :back %>
</div>
