<div class="pages-banner fim-banner"></div>
<div class="container-app">
  <div class="title-wrapper">
    <h1>Fim da linha, <%= current_user.name.capitalize() %>!</h1>
    <div class="content-wrapper">
      <p>
        Infelizmente voce ainda não atingiu o estagio para passar para proxima fase!
        Gostariamos de entender o porque! Entraremos em contato! De qualquer forma, continue tentando!
        Reveja os educativos e procure outras fontes!
        Nós nos falamos em breve!
      </p>
    </div>
    <div class="button-wrapper">
      <%= link_to 'Voltar pro educativo', educacao_path, class: 'btn-app next-step' %>
      <%= link_to "Entraremos em contato!", root_path, class: "btn-app feedback"  %>
    </div>
  </div>
  <%= image_tag "person-fim.png", class:"person fim" %>
  <%= image_tag "bubbles-fase.png", class:"bubbles-fase" %>
</div>
