<div class="wrapper">
  <div class="banner-section">
    <div class="banner-content">
      <h1>
        <span style="font-weight: 700">Para quem busca ser feliz de segunda a segunda.</span><br>
        <span style="color:#785df5; font-weight: bold">Sai dessa</span> de passar a vida esperando os finais de semana, seu trabalho pode ser algo que você ame fazer
      </h1>
      <h3>
        Através de um jogo do autoconhecimento que te ajudará a identificar tudo o que você precisa saber para seu bem estar profisisonal
      </h3>
      <h1>
        Você já tinha pensado nisso?
      </h1>

      <% if current_user.journey_ended? %>
        <%= link_to "Curtiu o game?", jornada_final_path, class: "btn-app next-step" %>
      <% else %>
        <%= link_to "Quero comerçar a jogar", fase_path, class: "btn-app next-step" %>
      <% end %>

    </div>
    <div class="banner-image">
      <%= image_tag "banner-image.png" %>
    </div>
  </div>
  <div class="section-a">
    <div class="division">
      <%= image_tag "divisao.png", class:"division-image" %>
      <h1 class="col-6">Como funciona o jogo sai dessa</h1>
      <h3 class="col-9 ">Você acumula pontos enquanto traça um futuro profissional feliz</h2>
    </div>
    <div class="section-a-content">
      <%= image_tag "background-jorney.png"%>
    </div>
    <div>

      <% if current_user.journey_ended? %>
        <%= link_to "Curtiu o game?", jornada_final_path, class: "btn-app next-step" %>
      <% else %>
        <%= link_to "Quero comerçar a jogar", fase_path, class: "btn-app next-step" %>
      <% end %>

    </div>
  </div>
  <div class="section-b">
    <div class="division">
      <%= image_tag "divisao.png", class:"division-image"%>
      <h1 class="col-6">Porque criamos o Sai Dessa?</h1>
      <h3 class="col-9">O Brasileiro está infeliz e não podiamos ficar só olhando</h2>
    </div>
    <div class="cards-container">
      <div class="cards-wrapper">
        <div class="card-why">
          <h1><span style="font-size:4rem; font-weight:bold">90%<br></span> dos brasileiros estão infelizes no trabalho¹</h1>
          <p>Pesquisas comprovam que a esmagadora maioria dos brasileiros não gostam de sua carreira</p>
        </div>
        <div class="card-why">
          <h1><span style="font-size:4rem; font-weight:bold">60%<br></span> tem medo de mudar²</h1>
          <p>Mesmo infelizes, os brasileiros tem medo de mudar de emprego</p>
        </div>
        <div class="card-why">
          <h1><span style="font-size:4rem; font-weight:bold">Depressão</span>³</h1>
          <p>Pesquisas comprovam que a esmagadora maioria dos brasileiros não gostam de sua carreira</p>
        </div>
      </div>
    </div>
    <div class="references-and-button">
      <div class="references">
        <p>¹pesquisa feita por Freddy Machado consultor profissional em 21 estados</p>
        <p>²levantamento realizado pela empresa Brands2Life, em parceria com o LinkedIn</p>
        <p>³levantamento realizado pela empresa pelo consultor de carreiras Fredy Machado, para seu livro "é possível se reinventar e integrar a vida pessoal e profissional"</p>
      </div>
      <div>

      <% if current_user.journey_ended? %>
        <%= link_to "Curtiu o game?", jornada_final_path, class: "btn-app next-step" %>
      <% else %>
        <%= link_to "Quero comerçar a jogar", fase_path, class: "btn-app next-step" %>
      <% end %>

      </div>
    </div>
    <div class="footer">
      <h1>Sai Dessa</h1>
      <ul>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-instagram-square"></i></li>
      </ul>
    </div>
  </div>
</div>
